@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hover-btn: #6070ff;
  --active-btn: #2230d2;
  --disabled-text: #5e6c84;
  --enabled-text: #6070ff;
  --secondary-color: #ffff;
  --primary-color: #396df2;
  --text-color: #091e42;
  --font-fam: "Poppins", sans-serif;
  --fade-bg: #ebebff;
  --icon-color: #505f79;
  --semi-bold: 700;
  --text-color2: #7f8cff;
  --main-bg: #e5e5e5;
  --p-txt-color: #344563;
}

body {
  background-color: var(--main-bg);
  font-family: var(--font-fam);
}

a {
  text-decoration: none;
}

/* end of resets */

.nav-menu a {
  color: var(--primary-color);
  font-family: var(--font-fam);
  font-weight: 700;
  font-size: 1.5 rem;
  line-height: 20px;
}

nav ul {
  display: none;
}

/* header section */

header {
  position: fixed;
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  width: 100%;
  top: 0.1px;
}

.nav-menu {
  display: flex;
  margin: 14px 24px 14px 24px;
  justify-content: space-between;
  align-items: center;
}

/* hero section */

#hero {
  display: flex;
  background-image: url(/images/header-bg.png);
  height: 42rem;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 100px;
  margin-top: 4rem;
}

.headlines {
  margin: 12px 24px 0 24px;
}

.headlines h1 {
  font-family: var(--font-fam);
  color: var(--text-color);
  font-weight: var(--semi-bold);
  line-height: 3.25rem;
  font-size: 3rem;
}

.headline-title h1 {
  margin: 114px 0 0 0;
}

.hero-text {
  font-family: var(--font-fam);
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 12px;
}

/* connect btns */

.connect {
  color: var(--text-color2);
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--font-fam);
  margin-top: 12px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  margin-top: 12px;
  list-style: none;
}

/* work section */

.card {
  display: grid;
  background-color: var(--secondary-color);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin: auto;
}

.card h2 {
  font-weight: 700;
  font-size: 32px;
  color: var(--text-color);
}

.projects {
  padding: 24px;
}

.compn-lan {
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
}

.card img {
  width: 100%;
}

.compn-lan,
.card-body {
  margin-top: 0.5em;
}

.compn-lan ul {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.compn-lan p {
  color: var(--p-txt-color);
}

.compn-lan ul li {
  color: #7a869a;
}

.compn-lan ul li,
.compn-lan p {
  font-weight: 600;
  font-size: 13px;
}

.card-body {
  font-size: 15px;
  color: var(--p-txt-color);
}

.technology {
  display: flex;
  margin-top: 12px;
}

.technology ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

.technology ul li {
  background-color: var(--fade-bg);
  border-radius: 8px;
  padding: 4px 12px;
  color: var(--enabled-text);
}

button {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  color: var(--primary-color);
  padding: 0.75em;
}

.card button {
  width: 7em;
  height: 3em;
  background-color: var(--secondary-color);
  margin-top: 1.5em;
  font-size: 1em;
  font-weight: 500;
}

/* About me section */
.me-content {
  padding: 24px;
  display: grid;
  background-color: var(--secondary-color);
  border-top-right-radius: 5.6rem;
  padding-bottom: 7rem;
}

.me-content #span {
  margin-top: 7rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--text-color);
}

.about-details {
  margin-top: 0.75rem;
}

.me-content button {
  font-size: 1rem;
  width: 8.6rem;
  height: 3em;
  background-color: var(--secondary-color);
  margin-top: 1.38em;
}

/* technology-lan */
.technology-lan {
  margin-top: 2em;
  padding: 1.5em;
}

.technology-lan ul {
  list-style: none;
}

.tec-list {
  display: flex;
  justify-content: space-between;
}

.inner-list {
  display: grid;
  grid-template-columns: 1fr;
}

.nest-sub-list {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 1em;
  margin: 0.5em;
  background-color: var(--fade-bg);
  padding: 0.56em;
  border-radius: 8px;
  color: #253858;
}

.tec-2,
.tec-3 {
  border-bottom: 1px solid #dfe1e6;
  padding: 1em;
}

/* contact-form */
#contact-me {
  background-color: var(--secondary-color);
}

button:hover {
  background-color: #6070ff;
  color: white;
}

.wrapper {
  border-top-left-radius: 5rem;
  background: var(--hover-btn);
  max-width: 100%;
  background-image: url("/images/form-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  color: var(--secondary-color);
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header span {
  font-weight: 700;
  font-size: 2rem;
  color: var(--secondary-color);
}

.contact-header p {
  text-align: center;
  margin-top: 0.75rem;
  font-weight: 400;
  font-size: 1.25rem;
}

.contact-form {
  margin-top: 1rem;
}

.contact-form ul {
  list-style: none;
}

.contact-form li * {
  border-radius: 8px;
  background: var(--secondary-color);
  margin: 0.5rem;
  border: 1px solid #cfd8dc;
  height: 3rem;
  width: 18.75rem;
  padding: 15px;
  font-weight: 400;
  font-size: 1rem;
  color: #b3bac5;
}

.contact-form li textarea {
  height: 10.62rem;
}

.contact-form button {
  width: 8.75rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
}

/* Desktop-View */
@media (min-width: 768px) {
  /* desktop nav */
  nav img {
    display: none;
  }

  header {
    height: 4.5rem;
    padding-right: 7rem;
    padding-left: 7rem;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: var(--p-txt-color);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav-menu {
    font-size: 150%;
  }

  /* hero-section */
  #hero {
    display: flex;
    background-image: url(/images/desktop-header-bg.svg);
    background-size: 100%;
    height: 110vh;
  }

  .headlines {
    margin: 10% 16% 17% 16%;
  }

  .headlines h1 {
    font-size: 5vw;
    font-weight: 700;
    line-height: normal;
  }

  .hero-text {
    font-weight: 400;
    font-size: 1.7vw;
  }
  /* desktop social icons */
  .connect {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.4vw;
  }

  .social-icons li a img {
    width: 140%;
  }

  .social-icons {
    width: 12rem;
  }

  /* work-section */
  .projects {
    padding: 8.9rem;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.9rem;
  }

  .card h2 {
    margin-top: 3rem;
    font-weight: 700;
    font-size: 3.5vw;
  }

  .compn-lan {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    margin-top: 1.25rem;
  }

  .compn-lan li {
    font-weight: 400;
    font-size: 1.25vw !important;
  }

  .compn-lan p {
    font-weight: 500;
    font-size: 1vw;
  }

  .card-body {
    margin-top: 2;
    font-size: 1.2vw;
  }

  .technology {
    margin-top: 1.5rem;
  }

  .card button {
    margin-top: 2.75rem;
  }

  .card button {
    min-width: 15%;
  }

  /* about-me section */
  .me-content {
    padding: 8.87rem;
  }

  .sub-cont {
    display: flex !important;
    flex: 1 1 auto;
  }

  #span {
    font-size: 2.5vw;
  }

  .technology-lan {
    min-width: 60%;
  }

  .about-details {
    font-size: 1vw;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .social-icons {
    margin-top: 26px;
  }
}
