@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

/* smoothscroll effect */
html {
  scroll-behavior: smooth;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --span: #7a869a;
  --dot: #c1c7d0;
  --border: #dfe1e6;
  --border2: #cfd8dc;
  --overlay: rgba(96, 112, 255, 0.3);
  --hover-btn: #6070ff;
  --active-btn: #2230d2;
  --disabled-text: #5e6c84;
  --enabled-text: #6070ff;
  --secondary-color: #ffff;
  --primary-color: #396df2;
  --text-color: #091e42;
  --font-fam: "Poppins", sans-serif;
  --fade-bg: #ebebff;
  --icon-color: #505f79;
  --semi-bold: 700;
  --text-color2: #7f8cff;
  --main-bg: #e5e5e5;
  --p-txt-color: #344563;
}

body {
  background-color: var(--main-bg);
  font-family: var(--font-fam);
}

a {
  text-decoration: none;
}

/* end of resets */

.nav-menu a {
  color: var(--primary-color);
  font-family: var(--font-fam);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 20px;
}

nav ul {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  background-color: var(--hover-btn);
}

/* header section */

header {
  position: fixed;
  background-color: var(--secondary-color);
  width: 100%;
  top: 0.1px;
}

.nav-menu {
  display: flex;
  margin: 14px 24px 14px 24px;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  left: 0;
}

.bar.active {
  left: 0;
}

.hidden {
  display: none;
}

.mobile_nav-container {
  width: 100%;
  height: 100%;
  position: fixed;
  mix-blend-mode: normal;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.bg-color {
  background: #6070ff;
  opacity: 0.95;
}

.mobile_nav-container img {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  top: 34px;
  right: 24px;
}

.mobile__nav {
  width: 90%;
  position: absolute;
  top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile__nav li {
  width: 85%;
  list-style-type: none;
  padding: 24px 24px;
  height: 80px;
}

.mobile-navbar-item {
  color: white;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  height: 24px;
  text-decoration: none;
}

/* hero section */
#hero {
  display: flex;
  background-image: url(./images/header-bg.png);
  height: 42rem;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 100px;
  margin-top: 4rem;
}

.headlines {
  margin: 12px 24px 0 24px;
}

.headlines h1 {
  font-family: var(--font-fam);
  color: var(--text-color);
  font-weight: var(--semi-bold);
  line-height: 3.25rem;
  font-size: 3rem;
}

.headline-title h1 {
  margin: 114px 0 0 0;
}

.hero-text {
  font-family: var(--font-fam);
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 12px;
}

/* connect btns */

.connect {
  color: var(--text-color2);
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--font-fam);
  margin-top: 12px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  margin-top: 12px;
  list-style: none;
}

/* work section */

.card {
  display: grid;
  background-color: var(--secondary-color);
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin: auto;
}

.card h2 {
  font-weight: 700;
  font-size: 32px;
  color: var(--text-color);
}

.projects {
  padding: 24px;
}

.compn-lan {
  display: grid;
  grid-template-columns: repeat(1, 1fr 2fr);
}

.card img {
  width: 100%;
}

.compn-lan,
.card-body {
  margin-top: 0.5em;
}

.compn-lan ul {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.compn-lan p {
  color: var(--p-txt-color);
}

.compn-lan ul li {
  color: #7a869a;
}

.compn-lan ul li,
.compn-lan p {
  font-weight: 600;
  font-size: 13px;
}

.card-body {
  font-size: 15px;
  color: var(--p-txt-color);
}

.technology {
  display: flex;
  margin-top: 12px;
}

.technology ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

.technology ul li {
  background-color: var(--fade-bg);
  border-radius: 8px;
  padding: 4px 12px;
  color: var(--enabled-text);
}

button {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  color: var(--primary-color);
  padding: 0.75em;
}

.card button {
  width: 7em;
  height: 3em;
  background-color: var(--secondary-color);
  margin-top: 1.5em;
  font-size: 1em;
  font-weight: 500;
}

/* About me section */
.me-content {
  padding: 24px;
  display: grid;
  background-color: var(--secondary-color);
  border-top-right-radius: 5.6rem;
  padding-bottom: 7rem;
}

.me-content #span {
  margin-top: 7rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--text-color);
}

.about-details {
  margin-top: 0.75rem;
}

.me-content button {
  font-size: 1rem;
  width: 8.6rem;
  height: 3em;
  background-color: var(--secondary-color);
  margin-top: 1.38em;
}

/* technology-lan */
.technology-lan {
  margin-top: 2em;
  padding: 1.5em;
}

.technology-lan ul {
  list-style: none;
}

.tec-list {
  display: flex;
  justify-content: space-between;
}

.inner-list {
  display: grid;
  grid-template-columns: 1fr;
}

.nest-sub-list {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 1em;
  margin: 0.5em;
  background-color: #f7f7f9;
  padding: 0.56em;
  border-radius: 8px;
  color: #253858;
}

label {
  visibility: hidden;
  margin: 1px;
  font-size: 1px;
}

.tec-2,
.tec-3 {
  border-bottom: 1px solid #dfe1e6;
  padding: 1em;
}

/* contact-form */
#contact-me {
  background-color: var(--secondary-color);
}

button:hover {
  transform: scale(1.2);
  margin-left: calc(+2%);
  background-color: var(--hover-btn);
  color: white;
}

.contact-form .btn {
  margin-left: 13px !important;
}

.wrapped {
  border-top-left-radius: 5rem;
  background: var(--hover-btn);
  max-width: 100%;
  background-image: url("./images/form-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  color: var(--secondary-color);
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header span {
  font-weight: 700;
  font-size: 2rem;
  color: var(--secondary-color);
}

.contact-header p {
  text-align: center;
  margin-top: 0.75rem;
  font-weight: 400;
  font-size: 1.25rem;
}

.contact-form {
  margin-top: 1rem;
}

.contact-form ul {
  list-style: none;
}

.contact-form li input,
.contact-form li textarea {
  border-radius: 8px;
  background: var(--secondary-color);
  margin: 0.5rem;
  border: 1px solid #cfd8dc;
  height: 3rem;
  width: 18.75rem;
  padding: 15px;
  font-weight: 400;
  font-size: 1rem;
  color: #b3bac5;
}

.contact-form li textarea {
  height: 10.62rem;
}

.contact-form button {
  width: 8.75rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
}

/* animations */
@keyframes anime {
  from {
    color: var(--p-txt-color);
  }

  to {
    color: var(--primary-color);
  }
}

#nav-brand a {
  color: var(--primary-color);
  animation-name: anime;
  animation-duration: 4s;
  font-size: 18px;
}

/* modal */
.works-section {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 120px;
}

.work-image {
  width: 90%;
  margin: 0 auto;
  margin-top: 4%;
}

.work-image img {
  width: 100%;
}

.work-image-large {
  display: none;
}

.work-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 5%;
}

.work-details h2 {
  width: 70%;
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
}

.work-subtext {
  font-size: 13px;
  font-weight: 600;
  color: var(--p-txt-color);
}

.work-subtext .description,
.work-subtext .description2 {
  font-size: 13px;
  font-weight: 600;
  color: var(--span);
  margin-left: 12px;
}

.work-subtext .dot {
  height: 10px;
  width: 10px;
  background-color: var(--dot);
  border-radius: 50%;
  display: inline-flex;
  margin-left: 12px;
}

.work-description {
  font-size: 15px;
  font-weight: 400;
  color: var(--p-txt-color);
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--overlay);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay .wrapper {
  position: relative;
  width: 80%;
  height: 97%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 1fr;
  box-sizing: border-box;
  align-items: center;
}

.wrapper .wrapper-head {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.5em 1em 0;
  align-items: center;
  margin-top: -0.8em;
}

.wrapper-head h2 {
  font-size: 18px !important;
  font-weight: 700;
  color: #172b4d;
}

.wrapper .wrapper-sub-head {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px;
  padding-left: 1em;
}

.close-btn {
  color: #67798e;
  font-size: 2em;
  text-align: right;
  cursor: pointer;
}

.wrapper .wrapper-img {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .wrapper-img .work-image {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
}

.wrapper .wrapper-text {
  padding-left: 1em;
  padding-right: 1em;
}

.wrapper .wrapper-text .long-paragraph {
  font-size: 3.2vw;
  margin-bottom: 10px;
  color: var(--p-txt-color);
  text-align: justify;
  width: 100%;
}

.wrapper .wrapper-text span {
  margin-right: 10px;
  padding: 5px;
  background: var(--language);
  border-radius: 4px;
  color: #6070ff;
  font-size: 12px;
}

.wrapper .wrapper-text hr {
  border: none;
  border-bottom: 1px solid #ebecf0;
  margin-top: 10px;
}

.wrapper .wrapper-btns {
  display: flex;
  justify-content: center;
}

.wrapper .wrapper-btns button {
  margin: 10px 1em 0;
  padding: 1em;
  padding-right: 2.3em;
  background: transparent;
  text-decoration: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  font-size: 12px;
  text-align: left;
}

.wrapper .wrapper-btns .btnA {
  background-image: url(./images/live.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.wrapper .wrapper-btns .btnB {
  background-image: url(./images/source.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.wrapper .wrapper-btns i {
  font-size: 12px;
}

.mdl-fullscreen {
  display: none;
}

#close i {
  color: white;
  float: right;
  padding: 1.5em;
  font-size: 28px;
}

/* Desktop-View */
@media (min-width: 768px) {
  /* desktop nav */
  .hambuger {
    display: none;
  }

  header {
    height: 4.5rem;
    padding-right: 7rem;
    padding-left: 7rem;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
  }

  .menu-items a {
    font-size: 1rem;
    font-weight: 500;
  }

  .nav-menu {
    font-size: 150%;
  }

  /* hero-section */
  #hero {
    display: flex;
    background-image: url(./images/desktop-header-bg.svg);
    background-size: 100%;
    height: 110vh;
    margin-bottom: 3rem;
  }

  .headlines {
    margin: 10% 16% 17% 16%;
  }

  .headlines h1 {
    font-size: 3vw;
    font-weight: 700;
    line-height: normal;
  }

  .hero-text {
    font-weight: 400;
    font-size: 1.25vw;
  }

  /* desktop social icons */
  .connect {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.4vw;
  }

  .work-image-large img {
    width: 70%;
    transition: all 0.5s ease;
  }

  .social-icons li a img {
    width: 140%;
  }

  .social-icons {
    width: 12rem;
  }

  /* work-section */
  .projects {
    padding-left: 8.9rem;
    padding-right: 8.9rem;
    padding-top: 4.5rem;
  }

  .about-me {
    margin-top: 4rem;
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.9rem;
  }

  .card h2 {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 3.5vw;
  }

  .compn-lan {
    display: flex;
    margin-top: 1.25rem;
  }

  .compn-lan ul {
    gap: 2rem;
  }

  .compn-lan li {
    font-weight: 300;
    font-size: 1.25vw !important;
  }

  .compn-lan p {
    font-weight: 500;
    font-size: 1vw;
    margin-right: 2rem;
  }

  .card-body {
    /* stylelint-disable-next-line csstree/validator */
    margin-top: 2;
    font-size: 1.2vw;
  }

  .technology {
    margin-top: 1.5rem;
  }

  /* about-me section */
  .me-content {
    padding: 8.87rem;
  }

  .sub-cont {
    display: flex !important;
    flex: 1 1 auto;
  }

  #span {
    font-size: 2.5vw;
  }

  .technology-lan {
    min-width: 60%;
  }

  .about-details {
    font-size: 1vw;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  #social-icons {
    margin-top: 26px;
  }

  .inner-list {
    display: flex;
    flex-direction: row;
  }

  .nest-sub-list {
    display: flex;
    flex-direction: column;
    min-width: 7.5vw;
    align-items: flex-start;
  }

  .tec-1 {
    font-size: 1.27vw;
    margin-bottom: 2.25rem;
  }

  .tec-list {
    font-size: 1.25vw;
    margin-top: 1.5rem;
  }

  .contact-header span {
    font-size: 2.5vw;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1vw;
  }

  .contact-header p {
    font-size: 2.5vh;
    margin-top: 12px;
  }

  .wrapped {
    display: flex;
    padding-left: 27.25rem;
    padding-right: 27.25rem;
  }

  #name,
  #email {
    width: 27vw;
    margin: 13px;
  }

  .contact-form input {
    height: 3vw;
  }

  .contact-form textarea {
    height: 10.6vw;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 10.87vw !important;
    height: 3vw !important;
  }

  #wrapper {
    background-image: url(./images/desktop_contact.svg);
  }

  /* reverse the nth child of project */
  .work .projects:nth-child(odd) .card {
    display: grid;
    grid-auto-flow: dense;
    direction: rtl;
  }

  .card :nth-child(2) {
    direction: ltr;
  }

  .work-image {
    display: none;
  }

  .work-image-large {
    display: flex;
    margin: 1%;
  }

  .work-image-large img:hover {
    transform: scale(1.09);
  }

  .mdl-fullscreen .mdl-text span {
    margin-right: 10px;
    background: #ebebff;
    border-radius: 10px;
    color: #6070ff;
    padding: 2px 6px;
    font-size: 12px;
  }

  .mdl-fullscreen .work-image-large {
    position: inherit;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 70%;
    margin: 1% auto;
  }
  .mdl-fullscreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .mdl-fullscreen .work-image-large img:hover {
    transform: none;
  }

  .mdl-fullscreen .mdl-text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    font-size: 13px;
    margin-top: 1.5em;
  }

  .mdl-fullscreen .mdl-text .right-grid {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
    padding-top: 1em;
  }
  .mdl-fullscreen .mdl-text .left-grid {
    color: var(--p-txt-color);
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0 0.5em 0 1em;
    font-size: 10px;
  }

  .mdl-fullscreen .mdl-text .right-grid p {
    padding-bottom: 8px;
  }

  .hr2 {
    width: 90%;
    border: none;
    border-bottom: 1px solid #ebecf0;
    margin: 5px 0;
  }

  .mdl-fullscreen .mdl-text button {
    padding: 1em;
    background: transparent;
    border: 1px solid #6070ff;
    border-radius: 5px;
    color: #6070ff;
    font-size: 12px;
    width: 40%;
    margin-right: 10px;
    margin-top: 1%;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
  }

  .mdl-fullscreen .mdl-text .btnA {
    background-image: url(./images/live.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
  }

  .mdl-fullscreen .mdl-text .btnB {
    background-image: url(./images/source.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    margin-right: 0;
  }

  .wrapper .wrapper-text,
  .wrapper .wrapper-btns,
  .wrapper .wrapper-img {
    display: none;
  }
}
